@import "tailwindcss";

@source "./**/*.{html,js,ts,tsx,jsx}";

@theme {
  --color-amz-dark: #232f3e;
  --color-amz-light: #37475a;
  --color-amz-accent: #ff9900;
  --color-amz-blue: #007185;
}

:root {
  color: #f8fafc;
  background-color: #020617;
}

body {
  background-color: #020617;
  color: #f8fafc;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
